openapi: 3.1.0
info:
  title: S25 Lumière — Cockpit API
  description: |
    API du S25 Command Center. Permet à TRINITY (GPT orchestrateur) de contrôler
    le pipeline S25: signaux, menaces, intel, kill-switch.
    
    Serveurs disponibles:
    - Akash public: http://uoqlngdqqlc29fhg8l78qt80d8.ingress.akashprovid.com
    - DELL-LINUX local: http://10.0.0.202:5000 (réseau LAN)
  version: 2.1.0

servers:
  - url: http://59cpn50vq1alv5ls5sdu37d7vs.ingress.akash.sthlm-host.top
    description: Sandbox (S25-SANDBOX-MEMORY-v1) — Memory API LIVE
  - url: http://uoqlngdqqlc29fhg8l78qt80d8.ingress.akashprovid.com
    description: Production (Cockpit v2)
    description: Akash public ingress (accès externe)
  - url: http://10.0.0.202:5000
    description: DELL-LINUX local (réseau LAN, plus rapide)

paths:
  /api/status:
    get:
      operationId: healthCheck
      summary: Status complet du système S25
      description: Retourne le status de tous les composants (cockpit, agents, loop, MEXC).
      responses:
        "200":
          description: Status OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  threat_level: { type: integer, minimum: 0, maximum: 3 }
                  mode: { type: string }
                  dry_run: { type: boolean }
                  timestamp: { type: string, format: date-time }

  /api/signal:
    post:
      operationId: sendTradingSignal
      summary: Envoyer un signal de trading
      description: Push un signal BUY/SELL/HOLD vers le pipeline S25.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, action, confidence]
              properties:
                symbol:
                  type: string
                  description: Paire de trading (ex. BTCUSDT, ETHUSDT)
                  example: BTCUSDT
                action:
                  type: string
                  enum: [BUY, SELL, HOLD]
                confidence:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Score de confiance (0.75+ recommandé)
                reason:
                  type: string
                  description: Justification du signal
                targets:
                  type: array
                  items: { type: number }
                stop_loss:
                  type: number
                source:
                  type: string
                  default: TRINITY
      responses:
        "200":
          description: Signal reçu et traité

  /api/threat:
    post:
      operationId: setThreatLevel
      summary: Définir le niveau de menace T0–T3
      description: |
        T0=Normal, T1=Surveillance, T2=Alerte (suspend trades), T3=Critique (kill switch)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [level]
              properties:
                level:
                  type: integer
                  minimum: 0
                  maximum: 3
                reason:
                  type: string
      responses:
        "200":
          description: Niveau de menace mis à jour

  /api/kill-switch:
    post:
      operationId: activateKillSwitch
      summary: ARRÊT D'URGENCE — Stop tous les trades
      description: |
        Active le kill switch d'urgence. Annule tous les ordres ouverts,
        passe en mode HOLD total. Utiliser seulement en cas critique.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Raison du kill switch
      responses:
        "200":
          description: Kill switch activé

  /api/intel:
    post:
      operationId: pushIntel
      summary: Pousser une information/alerte
      description: Push une intelligence vers le feed du cockpit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                level:
                  type: string
                  enum: [INFO, WARNING, ALERT, CRITICAL]
                  default: INFO
                source:
                  type: string
                  default: TRINITY
      responses:
        "201":
          description: Intel ajouté au feed

  /api/comet/feed:
    get:
      operationId: getCometFeed
      summary: Feed d'alertes COMET (Perplexity)
      description: Retourne les dernières alertes poussées par COMET.
      responses:
        "200":
          description: Feed COMET
          content:
            application/json:
              schema:
                type: object
                properties:
                  feed: { type: array }
                  count: { type: integer }

  /api/comet/status-check:
    get:
      operationId: cometStatusCheck
      summary: Health check COMET bridge
      description: Vérifie que le pont COMET est opérationnel.
      responses:
        "200":
          description: Status COMET bridge

  /api/loop/status:
    get:
      operationId: getLoopStatus
      summary: Status de la boucle autonome
      description: Retourne l'état de agent_loop.py (cycles, derniers checks, signaux émis).
      responses:
        "200":
          description: Status agent loop
          content:
            application/json:
              schema:
                type: object
                properties:
                  running: { type: boolean }
                  cycles: { type: integer }
                  signals_emitted: { type: integer }
                  last_price_check: { type: string }
                  last_fear_greed: { type: string }
                  last_reddit: { type: string }
                  last_ollama: { type: string }

  /api/loop/force-cycle:
    post:
      operationId: forceLoopCycle
      summary: Forcer un cycle immédiat de la boucle
      description: Déclenche immédiatement un check prix + Fear&Greed sans attendre le timer.
      responses:
        "200":
          description: Cycle forcé

  /api/ollama/models:
    get:
      operationId: getOllamaModels
      summary: Liste des modèles Ollama disponibles
      description: Retourne les modèles LLM locaux (major-llama, llama3, etc.) sur DELL-LINUX.
      responses:
        "200":
          description: Liste des modèles Ollama

  /api/memory:
    get:
      operationId: getSharedMemory
      summary: Lire la mémoire partagée S25
      description: |
        Retourne le contexte complet S25 (SHARED_MEMORY.md + agents_state.json).
        TRINITY doit appeler cet endpoint au début de chaque session pour se rappeler
        le contexte du projet, l'état des agents, et la roadmap active.
      responses:
        "200":
          description: Mémoire partagée complète
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  shared_memory: { type: string, description: "Contenu SHARED_MEMORY.md (contexte global S25)" }
                  agents_state: { type: object, description: "État runtime de tous les agents" }
                  fetched_at: { type: string, format: date-time }

  /api/memory/state:
    get:
      operationId: getAgentsState
      summary: État runtime de tous les agents
      description: Version légère — retourne uniquement agents_state.json pour polling fréquent.
      responses:
        "200":
          description: État agents
    post:
      operationId: updateAgentState
      summary: Mettre à jour l'état d'un agent
      description: |
        Permet à TRINITY (ou tout agent) de mettre à jour son état dans la mémoire partagée.
        Utilise cet endpoint après chaque action importante pour logger l'activité.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent:
                  type: string
                  enum: [TRINITY, ARKON, MERLIN, COMET, KIMI]
                  description: Nom de l'agent qui se met à jour
                updates:
                  type: object
                  description: Champs à fusionner dans l'état de l'agent
                  example: { "last_intent": "Status marché", "session_count": 5 }
                pipeline:
                  type: object
                  description: Champs pipeline à mettre à jour (optionnel)
                  example: { "threat_level": "T1" }
      responses:
        "200":
          description: État mis à jour

  /api/memory/ping:
    post:
      operationId: agentHeartbeat
      summary: Heartbeat agent — mise à jour last_seen
      description: |
        Envoie un ping pour signaler que l'agent est en ligne.
        Appeler en début de chaque session TRINITY.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent]
              properties:
                agent:
                  type: string
                  enum: [TRINITY, ARKON, MERLIN, COMET, KIMI]
      responses:
        "200":
          description: Heartbeat reçu
