openapi: 3.1.0
info:
  title: S25 Lumiere - Trinity Bridge API
  description: OpenAPI minimale et verifiee pour TRINITY vers le cockpit S25 en production.
  version: 2.5.0

servers:
  - url: https://uoqlngdqqlc29fhg8l78qt80d8.ingress.akashprovid.com
    description: S25 Cockpit PROD sur Akash

components:
  schemas:
    TrinityRequest:
      type: object
      properties:
        intent:
          type: string
        action:
          type: string
          enum: [query, status, analyze, signal]
        data:
          type: object
    AgentHeartbeat:
      type: object
      required: [agent]
      properties:
        agent:
          type: string
          enum: [TRINITY, ARKON, MERLIN, COMET, KIMI]
        note:
          type: string
    AgentStateUpdate:
      type: object
      properties:
        agent:
          type: string
          enum: [TRINITY, ARKON, MERLIN, COMET, KIMI]
        updates:
          type: object
        pipeline:
          type: object
  securitySchemes:
    S25Secret:
      type: apiKey
      in: header
      name: X-S25-Secret
      description: Secret partage S25 pour routes protegees

paths:
  /api/version:
    get:
      operationId: getVersion
      summary: Version runtime du cockpit deploye
      responses:
        "200":
          description: Version active

  /api/status:
    get:
      operationId: getSystemStatus
      summary: Etat live du systeme S25
      responses:
        "200":
          description: Etat courant

  /api/trinity/ping:
    get:
      operationId: trinityPing
      summary: Ping public du bridge TRINITY
      responses:
        "200":
          description: Bridge disponible

  /api/trinity:
    post:
      operationId: trinityDispatch
      summary: Endpoint principal de TRINITY pour status, analyse, query et signal
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrinityRequest"
      responses:
        "200":
          description: Reponse du bridge TRINITY

  /api/memory:
    get:
      operationId: getSharedMemory
      summary: "[BOOT] Lire la memoire partagee S25"
      description: Appeler au debut de chaque session TRINITY apres le heartbeat.
      security:
        - S25Secret: []
      responses:
        "200":
          description: Memoire complete

  /api/memory/state:
    get:
      operationId: getAgentsState
      summary: Etat runtime leger des agents
      security:
        - S25Secret: []
      responses:
        "200":
          description: Etat agents
    post:
      operationId: updateAgentState
      summary: Mettre a jour l etat de TRINITY
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentStateUpdate"
      responses:
        "200":
          description: Etat mis a jour

  /api/memory/ping:
    post:
      operationId: agentHeartbeat
      summary: "[BOOT] Heartbeat de presence"
      description: Appeler en premier au debut de chaque session TRINITY.
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentHeartbeat"
      responses:
        "200":
          description: Heartbeat recu
