openapi: 3.1.0
info:
  title: S25 Lumiere Trinity Bridge API
  description: |
    Complete OpenAPI schema for TRINITY Custom GPT → S25 Lumiere Cockpit.
    Updated for Phase 9 (Command Mesh API — TRINITY control plane v1, Trinity spec).

    PRIMARY SERVER: https://api.smajor.org (Cloudflare tunnel → AlienStef :7777)
    SECONDARY: https://s25.smajor.org (same cockpit, alias)

    All GET endpoints are READ-ONLY PUBLIC and safe — they carry
    `x-openai-isConsequential: false` so ChatGPT Actions never prompt
    for consent on them. Only the POST/PUT endpoints that modify state
    require the X-S25-Secret header and may show a consent prompt.
  version: 9.0.0
  contact:
    name: Stef / S25 Lumiere
    url: https://smajor.org

servers:
  - url: https://api.smajor.org
    description: S25 API (PRIMARY — use this)
  - url: https://cockpit-alien.smajor.org
    description: Cockpit direct (same backend)

components:
  securitySchemes:
    S25Secret:
      type: apiKey
      in: header
      name: X-S25-Secret
      description: Shared secret for write endpoints

paths:
  # ═══════════════ READ-ONLY PUBLIC — NO CONSENT PROMPT ═══════════════

  /api/status:
    get:
      operationId: getSystemStatus
      summary: Overall system status (pipeline mode, ARKON action, threat level)
      description: Safe read-only — use this as the default "how is S25 doing?" call
      x-openai-isConsequential: false
      responses:
        '200':
          description: Current status
          content:
            application/json:
              schema:
                type: object

  /api/mesh/status:
    get:
      operationId: getMeshStatus
      summary: Agent mesh health — which agents online/standby
      x-openai-isConsequential: false
      responses:
        '200': { description: Mesh details }

  /api/coinbase/portfolio:
    get:
      operationId: getCoinbasePortfolio
      summary: Live Coinbase portfolio — total USD, per-coin holdings
      x-openai-isConsequential: false
      responses:
        '200': { description: Portfolio snapshot }

  /api/coinbase/spot-prices:
    get:
      operationId: getSpotPrices
      summary: Live spot prices for whitelist coins (BTC, ETH, AKT, SOL, ATOM, DOGE, PAXG)
      x-openai-isConsequential: false
      responses:
        '200': { description: Spot prices map }

  /api/coinbase/fee-tier:
    get:
      operationId: getFeeTier
      summary: Current Coinbase fee tier (maker/taker rates)
      x-openai-isConsequential: false
      responses:
        '200': { description: Fee tier }

  /api/trading/pnl:
    get:
      operationId: getPnL
      summary: Live P&L (realized + unrealized, win rate, open positions)
      x-openai-isConsequential: false
      responses:
        '200': { description: P&L summary }

  /api/trading/positions:
    get:
      operationId: getPositions
      summary: Open positions with avg entry + unrealized P&L per coin
      x-openai-isConsequential: false
      responses:
        '200': { description: Positions }

  /api/trading/strategies:
    get:
      operationId: getStrategies
      summary: List enabled strategies with symbols whitelist + usd_size
      x-openai-isConsequential: false
      responses:
        '200': { description: Strategies list }

  /api/trading/trade-log:
    get:
      operationId: getTradeLog
      summary: Last N trades (append-only JSONL log)
      x-openai-isConsequential: false
      parameters:
        - name: n
          in: query
          required: false
          schema: { type: integer, default: 20 }
      responses:
        '200': { description: Trade log }

  /api/trading/brief:
    get:
      operationId: getGeminiBrief
      summary: Latest Gemini 2.5 Pro analyst brief (french, warnings, suggestions)
      x-openai-isConsequential: false
      responses:
        '200': { description: Gemini brief JSON }

  /api/trading/news:
    get:
      operationId: getNewsScan
      summary: Live news scan via Gemini + Google Search grounding (sentiment, headlines)
      x-openai-isConsequential: false
      responses:
        '200': { description: News scan }

  /api/trading/risk-config:
    get:
      operationId: getRiskConfig
      summary: Risk engine config + per-symbol ATR/SL/TP/notional
      x-openai-isConsequential: false
      responses:
        '200': { description: Risk config }

  /api/trading/backtest:
    get:
      operationId: backtestStrategy
      summary: Run backtest on one strategy + symbol combination
      x-openai-isConsequential: false
      parameters:
        - name: strategy
          in: query
          required: true
          schema: { type: string }
        - name: symbol
          in: query
          required: true
          schema: { type: string }
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 12 }
      responses:
        '200': { description: Backtest result }

  /api/trading/backtest/all:
    get:
      operationId: backtestMatrix
      summary: Full backtest matrix (all strategies × all coins)
      x-openai-isConsequential: false
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 12 }
      responses:
        '200': { description: Matrix }

  /api/trading/dca:
    get:
      operationId: getDcaSchedules
      summary: DCA schedules currently configured
      x-openai-isConsequential: false
      responses:
        '200': { description: DCA list }

  /api/coinbase/live-mode:
    get:
      operationId: getLiveMode
      summary: Is executor in LIVE or DRY_RUN mode?
      x-openai-isConsequential: false
      parameters:
        - name: enabled
          in: query
          required: false
          description: If set to true/false, toggles the live-mode flag (use with care)
          schema: { type: string }
      responses:
        '200': { description: Live mode state (+ executor_dry_run after any toggle) }

  # ═══════════════ WRITE — CONSENT PROMPT EXPECTED ═══════════════

  /api/signal:
    post:
      operationId: postSignal
      summary: Submit a trading signal to the pipeline (weighted + executes if verdict=EXECUTE)
      description: |
        Main entry for ANY source (TRINITY, MERLIN, ORACLE, COMET, KIMI, ARKON5).
        Signal is weighted by TV_WEIGHTS map, consensus-bonus applied,
        and Coinbase executor fires if verdict == EXECUTE and dry_run is off.
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [BUY, SELL, HOLD] }
                symbol: { type: string, example: "BTC/USDT" }
                source: { type: string, example: "TRINITY" }
                confidence: { type: number, format: float }
                price: { type: number, format: float }
                reason: { type: string }
                usd_amount: { type: number, format: float, description: Override auto sizing }
      responses:
        '200': { description: Signal accepted }

  /api/trinity:
    post:
      operationId: postTrinity
      summary: Trinity routing / heartbeat / command
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent, action]
              properties:
                intent: { type: string }
                action: { type: string, enum: [query, status, analyze, signal, mission, route, heartbeat] }
                data: { type: object }
      responses:
        '200': { description: Routed }

  /api/trading/strategies/{name}/toggle:
    post:
      operationId: toggleStrategy
      summary: Enable or disable a strategy by name
      security:
        - S25Secret: []
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled: { type: boolean }
      responses:
        '200': { description: OK }

  /api/coinbase/preview:
    post:
      operationId: previewOrder
      summary: Simulate a Coinbase market order without placing it
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id: { type: string, example: BTC-USD }
                side: { type: string, enum: [BUY, SELL] }
                usd_amount: { type: number }
      responses:
        '200': { description: Preview details }

  # ═══════════════ OPS — TRINITY BACKEND CONTROL (v8) ═══════════════

  /api/ops/agents:
    get:
      operationId: opsListAgents
      summary: List all S25 cron/systemd agents with last-run age
      description: Returns every known agent (coinbase_ha_publisher, mesh_signal_bridge, quant_brain, gemini_orchestrator, etc) with log mtime, priority, cron schedule.
      x-openai-isConsequential: false
      responses:
        '200': { description: Agents inventory }

  /api/ops/agent/{name}/log:
    get:
      operationId: opsAgentLog
      summary: Tail last N lines of a specific agent log
      x-openai-isConsequential: false
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string, example: gemini_orchestrator }
        - name: n
          in: query
          required: false
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        '200': { description: Tail lines }

  /api/ops/agent/{name}/trigger:
    post:
      operationId: opsAgentTrigger
      summary: Run a cron agent immediately (one-shot)
      description: Triggers `python3 -m agents.{name}` synchronously with 90s timeout. Useful when Trinity wants fresh quant_brain or gemini_orchestrator output.
      security:
        - S25Secret: []
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Run result (stdout/stderr) }

  /api/ops/agent/{name}/restart:
    post:
      operationId: opsAgentRestart
      summary: Restart a systemd-user unit (e.g. cockpit)
      security:
        - S25Secret: []
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string, example: cockpit }
      responses:
        '200': { description: Restart result }

  /api/ops/git:
    get:
      operationId: opsGitStatus
      summary: Current branch, last 10 commits, dirty files
      x-openai-isConsequential: false
      responses:
        '200': { description: Git snapshot }

  /api/ops/git/pull:
    post:
      operationId: opsGitPull
      summary: Fast-forward pull from origin/main
      security:
        - S25Secret: []
      responses:
        '200': { description: Pull result }

  /api/ops/file:
    get:
      operationId: opsFileRead
      summary: Read a whitelisted infra file (agents/*, strategies/*, memory/*, trinity_config/*)
      description: Blocks .env, secrets, keys. Max 200KB.
      x-openai-isConsequential: false
      parameters:
        - name: path
          in: query
          required: true
          schema: { type: string, example: "agents/coinbase_executor.py" }
      responses:
        '200': { description: File content }

  /api/ops/dir:
    get:
      operationId: opsDirList
      summary: List whitelisted directory contents
      x-openai-isConsequential: false
      parameters:
        - name: path
          in: query
          required: false
          schema: { type: string, default: "agents" }
      responses:
        '200': { description: Directory listing }

  /api/ops/cf/tunnel:
    get:
      operationId: opsCloudflareTunnel
      summary: Cloudflare tunnel status (systemd active + running processes)
      x-openai-isConsequential: false
      responses:
        '200': { description: Tunnel status }

  /api/ops/crontab:
    get:
      operationId: opsCrontab
      summary: View current user crontab
      x-openai-isConsequential: false
      responses:
        '200': { description: Crontab entries }

  /api/ops/signal/blocklist:
    get:
      operationId: opsBlocklistGet
      summary: Get list of sources the executor will refuse (e.g. ARKON5 after ping-pong)
      x-openai-isConsequential: false
      responses:
        '200': { description: Current blocklist }

  /api/ops/signal/block:
    post:
      operationId: opsBlockSource
      summary: Add a signal source to executor blocklist (stops ANY trade from that source)
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source]
              properties:
                source: { type: string, example: ARKON5 }
      responses:
        '200': { description: Updated blocklist }

  /api/ops/signal/unblock:
    post:
      operationId: opsUnblockSource
      summary: Remove a source from executor blocklist
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source]
              properties:
                source: { type: string }
      responses:
        '200': { description: Updated blocklist }

  /api/ops/kill-switch:
    get:
      operationId: opsKillSwitchGet
      summary: Is the emergency stop flag active?
      x-openai-isConsequential: false
      responses:
        '200': { description: Kill-switch state }
    post:
      operationId: opsKillSwitchSet
      summary: Activate or deactivate the emergency stop (trades fully blocked while active)
      description: Activate does NOT require the secret (safety). Deactivate requires X-S25-Secret.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activate: { type: boolean, default: true }
                reason: { type: string }
      responses:
        '200': { description: New state }

  # ═══════════════ COMMAND MESH API (v9) — Trinity spec ═══════════════
  # Canonical 5 objects + 6 routes per docs/TRINITY_ARCHITECTURE_v1.md

  /api/mesh/agents:
    get:
      operationId: meshListAgents
      summary: List all registered mesh agents (TRINITY/MERLIN/ORACLE/COMET/etc)
      x-openai-isConsequential: false
      responses:
        '200': { description: Agents }

  /api/mesh/agents/{agent_id}:
    get:
      operationId: meshGetAgent
      summary: Get one agent by id
      x-openai-isConsequential: false
      parameters:
        - { name: agent_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Agent }

  /api/mesh/missions:
    get:
      operationId: meshListMissions
      summary: List missions (optionally filter by status)
      x-openai-isConsequential: false
      parameters:
        - { name: status, in: query, required: false, schema: { type: string, enum: [draft, queued, assigned, accepted, running, completed, failed, expired, blocked, cancelled] } }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 50 } }
      responses:
        '200': { description: Missions }

  /api/mesh/missions/{mission_id}:
    get:
      operationId: meshGetMission
      summary: Get one mission by id
      x-openai-isConsequential: false
      parameters:
        - { name: mission_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Mission }

  /api/mesh/signals:
    get:
      operationId: meshListSignals
      summary: Recent signals from Signal Registry (all sources)
      x-openai-isConsequential: false
      parameters:
        - { name: limit, in: query, required: false, schema: { type: integer, default: 50 } }
      responses:
        '200': { description: Signals }

  /api/mesh/incidents:
    get:
      operationId: meshListIncidents
      summary: List incidents (auto-opened by Policy Engine or manual)
      x-openai-isConsequential: false
      parameters:
        - { name: status, in: query, required: false, schema: { type: string, enum: [open, acknowledged, mitigating, resolved, closed] } }
      responses:
        '200': { description: Incidents }

  /api/mesh/state:
    get:
      operationId: meshGetSystemState
      summary: Canonical system_state (recomputed on every read)
      x-openai-isConsequential: false
      responses:
        '200': { description: system_state }

  /api/mesh/journal:
    get:
      operationId: meshGetJournal
      summary: Ops Journal entries (append-only, newest last)
      x-openai-isConsequential: false
      parameters:
        - { name: n, in: query, required: false, schema: { type: integer, default: 100, maximum: 500 } }
      responses:
        '200': { description: Journal }

  # --- 6 Logical Routes ---

  /api/mesh/ingest_intent:
    post:
      operationId: meshIngestIntent
      summary: 5.1 Canonical voice/text intent entry
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent]
              properties:
                sender: { type: string, example: "Claude" }
                channel: { type: string, enum: [text, voice, api], default: text }
                intent: { type: string }
                context: { type: object }
                priority: { type: string, enum: [low, normal, high, critical], default: normal }
      responses:
        '200': { description: Ingested, returns request_id }

  /api/mesh/route_intent:
    post:
      operationId: meshRouteIntent
      summary: 5.2 Classify intent → route decision (query/mission/signal/incident/kill_switch/noop)
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent]
              properties:
                request_id: { type: string }
                intent: { type: string }
                sender: { type: string }
                context: { type: object }
      responses:
        '200': { description: Routing decision }

  /api/mesh/create_mission:
    post:
      operationId: meshCreateMission
      summary: 5.3 Create executable mission with target agent
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_agent, task_type]
              properties:
                created_by: { type: string, default: "TRINITY" }
                target_agent: { type: string, example: "COMET" }
                task_type: { type: string, enum: [trading_analysis, market_news, code_generation, strategy_planning, infra_monitoring, fallback] }
                intent: { type: string }
                priority: { type: string, enum: [low, normal, high, critical], default: normal }
                input: { type: object }
                constraints:
                  type: object
                  properties:
                    timeout_sec: { type: integer, default: 120 }
                    max_retries: { type: integer, default: 2 }
                    require_ack: { type: boolean, default: true }
      responses:
        '200': { description: Mission created }

  /api/mesh/report_health:
    post:
      operationId: meshReportHealth
      summary: 5.4 Agent heartbeat + health telemetry (no auth — idempotent)
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id]
              properties:
                agent_id: { type: string }
                type: { type: string, example: intel }
                status: { type: string, enum: [online, degraded, offline, standby, disabled], default: online }
                runtime: { type: string, example: akash }
                endpoint_class: { type: string, example: internal }
                capabilities: { type: array, items: { type: string } }
                latency_ms: { type: integer }
                error_rate: { type: number }
                reliability_score: { type: number }
      responses:
        '200': { description: Heartbeat accepted }

  /api/mesh/commit_signal:
    post:
      operationId: meshCommitSignal
      summary: 5.5 Register a signal — policy engine assigns verdict
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_agent, action]
              properties:
                source_agent: { type: string, example: ARKON }
                symbol: { type: string, example: BTC/USD }
                action: { type: string, enum: [BUY, SELL, HOLD, ALERT, NO_ACTION] }
                confidence: { type: number, format: float }
                weight: { type: number, format: float, default: 1.0 }
                consensus: { type: boolean, default: false }
                reason: { type: string }
                context: { type: object }
      responses:
        '200': { description: Signal stored with verdict }

  /api/mesh/resolve_incident:
    post:
      operationId: meshResolveIncident
      summary: 5.6 Acknowledge / mitigate / resolve / close incident
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [incident_id, action]
              properties:
                incident_id: { type: string }
                action: { type: string, enum: [acknowledge, mitigate, resolve, close] }
                actor: { type: string, default: "TRINITY" }
                note: { type: string }
      responses:
        '200': { description: New incident status }

  /api/mesh/open_incident:
    post:
      operationId: meshOpenIncident
      summary: Manually open incident (for watchdog scripts / tests)
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [severity, title]
              properties:
                severity: { type: string, enum: [info, warning, critical, severe] }
                title: { type: string }
                summary: { type: string }
                category: { type: string }
                source: { type: string }
                evidence: { type: object }
                impact: { type: object }
                recommended_actions: { type: array, items: { type: string } }
                owner: { type: string, default: "TRINITY" }
      responses:
        '200': { description: Incident opened }

