openapi: 3.1.0
info:
  title: S25 Lumiere Trinity Bridge API
  description: |
    Complete OpenAPI schema for TRINITY Custom GPT → S25 Lumiere Cockpit.
    Updated for Phase 7 (Coinbase live trading + Quant Brain + Gemini analyst).

    PRIMARY SERVER: https://api.smajor.org (Cloudflare tunnel → AlienStef :7777)
    SECONDARY: https://s25.smajor.org (same cockpit, alias)

    All GET endpoints are READ-ONLY PUBLIC and safe — they carry
    `x-openai-isConsequential: false` so ChatGPT Actions never prompt
    for consent on them. Only the POST/PUT endpoints that modify state
    require the X-S25-Secret header and may show a consent prompt.
  version: 7.0.0
  contact:
    name: Stef / S25 Lumiere
    url: https://smajor.org

servers:
  - url: https://api.smajor.org
    description: S25 API (PRIMARY — use this)
  - url: https://cockpit-alien.smajor.org
    description: Cockpit direct (same backend)

components:
  securitySchemes:
    S25Secret:
      type: apiKey
      in: header
      name: X-S25-Secret
      description: Shared secret for write endpoints

paths:
  # ═══════════════ READ-ONLY PUBLIC — NO CONSENT PROMPT ═══════════════

  /api/status:
    get:
      operationId: getSystemStatus
      summary: Overall system status (pipeline mode, ARKON action, threat level)
      description: Safe read-only — use this as the default "how is S25 doing?" call
      x-openai-isConsequential: false
      responses:
        '200':
          description: Current status
          content:
            application/json:
              schema:
                type: object

  /api/mesh/status:
    get:
      operationId: getMeshStatus
      summary: Agent mesh health — which agents online/standby
      x-openai-isConsequential: false
      responses:
        '200': { description: Mesh details }

  /api/coinbase/portfolio:
    get:
      operationId: getCoinbasePortfolio
      summary: Live Coinbase portfolio — total USD, per-coin holdings
      x-openai-isConsequential: false
      responses:
        '200': { description: Portfolio snapshot }

  /api/coinbase/spot-prices:
    get:
      operationId: getSpotPrices
      summary: Live spot prices for whitelist coins (BTC, ETH, AKT, SOL, ATOM, DOGE, PAXG)
      x-openai-isConsequential: false
      responses:
        '200': { description: Spot prices map }

  /api/coinbase/fee-tier:
    get:
      operationId: getFeeTier
      summary: Current Coinbase fee tier (maker/taker rates)
      x-openai-isConsequential: false
      responses:
        '200': { description: Fee tier }

  /api/trading/pnl:
    get:
      operationId: getPnL
      summary: Live P&L (realized + unrealized, win rate, open positions)
      x-openai-isConsequential: false
      responses:
        '200': { description: P&L summary }

  /api/trading/positions:
    get:
      operationId: getPositions
      summary: Open positions with avg entry + unrealized P&L per coin
      x-openai-isConsequential: false
      responses:
        '200': { description: Positions }

  /api/trading/strategies:
    get:
      operationId: getStrategies
      summary: List enabled strategies with symbols whitelist + usd_size
      x-openai-isConsequential: false
      responses:
        '200': { description: Strategies list }

  /api/trading/trade-log:
    get:
      operationId: getTradeLog
      summary: Last N trades (append-only JSONL log)
      x-openai-isConsequential: false
      parameters:
        - name: n
          in: query
          required: false
          schema: { type: integer, default: 20 }
      responses:
        '200': { description: Trade log }

  /api/trading/brief:
    get:
      operationId: getGeminiBrief
      summary: Latest Gemini 2.5 Pro analyst brief (french, warnings, suggestions)
      x-openai-isConsequential: false
      responses:
        '200': { description: Gemini brief JSON }

  /api/trading/news:
    get:
      operationId: getNewsScan
      summary: Live news scan via Gemini + Google Search grounding (sentiment, headlines)
      x-openai-isConsequential: false
      responses:
        '200': { description: News scan }

  /api/trading/risk-config:
    get:
      operationId: getRiskConfig
      summary: Risk engine config + per-symbol ATR/SL/TP/notional
      x-openai-isConsequential: false
      responses:
        '200': { description: Risk config }

  /api/trading/backtest:
    get:
      operationId: backtestStrategy
      summary: Run backtest on one strategy + symbol combination
      x-openai-isConsequential: false
      parameters:
        - name: strategy
          in: query
          required: true
          schema: { type: string }
        - name: symbol
          in: query
          required: true
          schema: { type: string }
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 12 }
      responses:
        '200': { description: Backtest result }

  /api/trading/backtest/all:
    get:
      operationId: backtestMatrix
      summary: Full backtest matrix (all strategies × all coins)
      x-openai-isConsequential: false
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 12 }
      responses:
        '200': { description: Matrix }

  /api/trading/dca:
    get:
      operationId: getDcaSchedules
      summary: DCA schedules currently configured
      x-openai-isConsequential: false
      responses:
        '200': { description: DCA list }

  /api/coinbase/live-mode:
    get:
      operationId: getLiveMode
      summary: Is executor in LIVE or DRY_RUN mode?
      x-openai-isConsequential: false
      parameters:
        - name: enabled
          in: query
          required: false
          description: If set to true/false, toggles the live-mode flag (use with care)
          schema: { type: string }
      responses:
        '200': { description: Live mode state (+ executor_dry_run after any toggle) }

  # ═══════════════ WRITE — CONSENT PROMPT EXPECTED ═══════════════

  /api/signal:
    post:
      operationId: postSignal
      summary: Submit a trading signal to the pipeline (weighted + executes if verdict=EXECUTE)
      description: |
        Main entry for ANY source (TRINITY, MERLIN, ORACLE, COMET, KIMI, ARKON5).
        Signal is weighted by TV_WEIGHTS map, consensus-bonus applied,
        and Coinbase executor fires if verdict == EXECUTE and dry_run is off.
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [BUY, SELL, HOLD] }
                symbol: { type: string, example: "BTC/USDT" }
                source: { type: string, example: "TRINITY" }
                confidence: { type: number, format: float }
                price: { type: number, format: float }
                reason: { type: string }
                usd_amount: { type: number, format: float, description: Override auto sizing }
      responses:
        '200': { description: Signal accepted }

  /api/trinity:
    post:
      operationId: postTrinity
      summary: Trinity routing / heartbeat / command
      security:
        - S25Secret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent, action]
              properties:
                intent: { type: string }
                action: { type: string, enum: [query, status, analyze, signal, mission, route, heartbeat] }
                data: { type: object }
      responses:
        '200': { description: Routed }

  /api/trading/strategies/{name}/toggle:
    post:
      operationId: toggleStrategy
      summary: Enable or disable a strategy by name
      security:
        - S25Secret: []
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled: { type: boolean }
      responses:
        '200': { description: OK }

  /api/coinbase/preview:
    post:
      operationId: previewOrder
      summary: Simulate a Coinbase market order without placing it
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id: { type: string, example: BTC-USD }
                side: { type: string, enum: [BUY, SELL] }
                usd_amount: { type: number }
      responses:
        '200': { description: Preview details }
