openapi: 3.1.0
info:
  title: S25 Lumiere Trinity Bridge API (Voice lean)
  description: |
    Lean OpenAPI for TRINITY Custom GPT focused on voice->trade chain + core observability.
    Kept under 30 operations for ChatGPT Actions limit.

    PRIMARY: https://cockpit-alien.smajor.org (direct Cloudflare tunnel to AlienStef :7777)
    All GETs are x-openai-isConsequential:false (no consent prompt).
    Only state-modifying POSTs require X-S25-Secret.
  version: 11.1.0-voice
  contact: { name: Stef / S25 Lumiere, url: https://smajor.org }

servers:
  - url: https://cockpit-alien.smajor.org
    description: Cockpit direct (PRIMARY)

components:
  schemas:
    Empty:
      type: object
      properties: {}
  securitySchemes:
    S25Secret:
      type: apiKey
      in: header
      name: X-S25-Secret
      description: Shared secret for write endpoints

paths:
  /api/status:
    get:
      operationId: getSystemStatus
      summary: Overall system status (pipeline, threat, agents)
      x-openai-isConsequential: false
      responses: { '200': { description: Status } }

  /api/mesh/status:
    get:
      operationId: getMeshStatus
      summary: Agent mesh health (online/standby agents)
      x-openai-isConsequential: false
      responses: { '200': { description: Mesh } }

  /api/coinbase/portfolio:
    get:
      operationId: getCoinbasePortfolio
      summary: Live Coinbase portfolio (USD + per-coin)
      x-openai-isConsequential: false
      responses: { '200': { description: Portfolio } }

  /api/coinbase/spot-prices:
    get:
      operationId: getSpotPrices
      summary: Live spot prices for whitelist coins
      x-openai-isConsequential: false
      responses: { '200': { description: Prices } }

  /api/coinbase/live-mode:
    get:
      operationId: getLiveMode
      summary: Is executor in LIVE or DRY_RUN mode
      x-openai-isConsequential: false
      responses: { '200': { description: Live mode } }

  /api/trading/pnl:
    get:
      operationId: getPnL
      summary: Live P-and-L (realized + unrealized, win rate)
      x-openai-isConsequential: false
      responses: { '200': { description: PnL } }

  /api/trading/positions:
    get:
      operationId: getPositions
      summary: Open positions with avg entry + unrealized P-and-L
      x-openai-isConsequential: false
      responses: { '200': { description: Positions } }

  /api/trading/brief:
    get:
      operationId: getGeminiBrief
      summary: Latest Gemini analyst brief (french)
      x-openai-isConsequential: false
      responses: { '200': { description: Brief } }

  /api/mesh/agents:
    get:
      operationId: meshListAgents
      summary: List all agents + capabilities + status
      x-openai-isConsequential: false
      responses: { '200': { description: Agents } }

  /api/mesh/missions:
    get:
      operationId: meshListMissions
      summary: Recent missions (active + completed)
      x-openai-isConsequential: false
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 20 }
      responses: { '200': { description: Missions } }

  /api/mesh/missions/{mission_id}:
    get:
      operationId: meshGetMission
      summary: Single mission status + result
      x-openai-isConsequential: false
      parameters:
        - name: mission_id
          in: path
          required: true
          schema: { type: string }
      responses: { '200': { description: Mission } }

  /api/stability/backpressure:
    get:
      operationId: stabilityBackpressure
      summary: Live backpressure level (ok | warn | congested)
      x-openai-isConsequential: false
      responses: { '200': { description: Backpressure } }

  /api/stability/breakers:
    get:
      operationId: stabilityBreakersV2
      summary: Breakers by (agent, task_type) with state + outcomes
      x-openai-isConsequential: false
      responses: { '200': { description: Breakers } }

  /api/stability/dlq:
    get:
      operationId: stabilityDlqV2
      summary: Dead-letters recent (replayable + reason_code)
      x-openai-isConsequential: false
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 20 }
      responses: { '200': { description: DLQ } }

  /api/stability/stats:
    get:
      operationId: stabilityStats
      summary: Stability + backpressure combined snapshot
      x-openai-isConsequential: false
      responses: { '200': { description: Stats } }

  /api/mesh/incidents:
    get:
      operationId: meshListIncidents
      summary: Active incidents + recent
      x-openai-isConsequential: false
      responses: { '200': { description: Incidents } }

  /api/mesh/signals:
    get:
      operationId: meshListSignals
      summary: Recent trading signals
      x-openai-isConsequential: false
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 20 }
      responses: { '200': { description: Signals } }

  /api/mesh/ingest_intent:
    post:
      operationId: meshIngestIntent
      summary: VOICE step 1 - ingest voice or text intent, returns request_id
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent]
              properties:
                intent: { type: string, description: The phrase Stef said }
                channel: { type: string, enum: [voice, text, webhook], default: voice }
                sender: { type: string, default: STEF }
      responses: { '200': { description: Accepted + request_id } }

  /api/mesh/route_intent:
    post:
      operationId: meshRouteIntent
      summary: VOICE step 2 - classify intent, returns action and route
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent]
              properties:
                request_id: { type: string }
                intent: { type: string }
      responses: { '200': { description: Classification } }

  /api/mesh/create_mission:
    post:
      operationId: meshCreateMission
      summary: VOICE step 3 - create mission, routes to target_agent (COINBASE for trade_execute)
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_agent, task_type]
              properties:
                target_agent:
                  type: string
                  enum: [COINBASE, COMET, MERLIN, ARKON-5, KIMI, ORACLE, GEMINI_OPS, ONCHAIN_GUARDIAN]
                task_type:
                  type: string
                  enum: [trading_analysis, market_news, code_generation, strategy_planning, infra_monitoring, trade_execute, fallback]
                priority:
                  type: string
                  enum: [low, normal, high, critical]
                  default: normal
                input:
                  type: object
                  description: Mission payload. For COINBASE trade_execute REQUIRED - symbol (e.g. BTC/USD), action (BUY or SELL), usd_amount (integer), source (e.g. TRINITY)
                  properties:
                    symbol:
                      type: string
                      description: Trading pair e.g. BTC/USD, ETH/USD, SOL/USD
                    action:
                      type: string
                      enum: [BUY, SELL]
                      description: Trade direction
                    usd_amount:
                      type: number
                      description: Trade size in USD (kept under $50 by safety layer)
                    source:
                      type: string
                      default: TRINITY
                      description: Origin tag for trace
                intent:
                  type: string
                  description: Original voice phrase for traceability
      responses: { '200': { description: Mission created } }

  /api/signal:
    post:
      operationId: postSignal
      summary: Inject a trading signal (multi-source)
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol: { type: string }
                action: { type: string, enum: [BUY, SELL, HOLD] }
                source: { type: string }
                confidence: { type: number }
      responses: { '200': { description: Signal ingested } }

  /api/trinity:
    post:
      operationId: postTrinity
      summary: Generic Trinity dispatch - status query analyze signal mission route
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [status, query, analyze, signal, mission, route]
                intent: { type: string }
      responses: { '200': { description: Trinity response } }

  /api/stability/dlq/replay:
    post:
      operationId: stabilityDlqReplay
      summary: Replay a DLQ entry - give new_source for trace
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entry_id]
              properties:
                entry_id: { type: string }
                new_source: { type: string, default: trinity_replay }
      responses: { '200': { description: Replayed } }

  /api/ops/run:
    post:
      operationId: opsRun
      summary: System ops Trinity-accessible - log tail, agent restart, git, disk/ram/gpu, shell whitelist. Permet a Trinity d operer sur l infra reelle au-dela du trade.
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [op]
              properties:
                op:
                  type: string
                  enum: [log_tail, agent_restart, service_status, git_status, git_log, disk_usage, ram_status, gpu_status, process_check, cron_check, crontab_show, shell_safe]
                  description: Type d operation a executer
                args:
                  type: object
                  description: Arguments specifiques selon op (ex log_tail file+n, agent_restart service, shell_safe cmd)
                  properties:
                    file:
                      type: string
                      enum: [auto_signal_scanner, mission_worker, trailing_stop, mesh_bridge, coinbase_ha_publisher, stability_ha]
                      description: Pour op=log_tail, lequel des fichiers logs
                    n:
                      type: integer
                      description: Nombre de lignes pour log_tail / git_log (5-200)
                      default: 30
                    service:
                      type: string
                      enum: [s25-cockpit]
                      description: Pour op=agent_restart ou service_status
                    pattern:
                      type: string
                      description: Pour op=process_check, regex alphanumeric simple
                    cmd:
                      type: string
                      description: Pour op=shell_safe, commande dans la whitelist (ls, cat, tail, head, grep, find, pwd, df, free, ps, pgrep, git, systemctl --user status)
      responses: { '200': { description: Ops result with stdout/stderr/returncode } }

  /api/ha/status:
    get:
      operationId: haStatus
      summary: Home Assistant state - agents, MEXC balances, crypto prices, controls, notifications
      x-openai-isConsequential: false
      responses: { '200': { description: HA snapshot } }

  /api/ha/agent:
    post:
      operationId: haAgent
      summary: Ask local HA conversation agent (routes prompt through S25 local LLM)
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt: { type: string, description: Prompt a envoyer a l agent local HA }
      responses: { '200': { description: Agent response } }

  /api/wallets:
    get:
      operationId: getAllWallets
      summary: Aggregated wallet balances across all chains (via HA sensors)
      x-openai-isConsequential: false
      responses: { '200': { description: Wallets overview } }

  /api/kimi/chat:
    post:
      operationId: chatKimi
      summary: Talk to Kimi K2.6 (Moonshot frontier model via Cloudflare Workers AI) for deep analysis, multi-step reasoning, or agentic swarm tasks. Returns reply + reasoning_content (chain-of-thought).
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  description: La question ou le probleme complexe a soumettre a Kimi K2.6
                system:
                  type: string
                  description: System prompt custom pour Kimi (optionnel, default = Trinity persona)
                history:
                  type: array
                  description: Historique de conversation pour multi-turn
                  items:
                    type: object
                    properties:
                      role: { type: string, enum: [user, assistant] }
                      content: { type: string }
                temperature:
                  type: number
                  default: 0.6
                max_tokens:
                  type: integer
                  default: 1500
                backend:
                  type: string
                  enum: [auto, moonshot, cloudflare]
                  default: auto
                fast:
                  type: boolean
                  default: false
                  description: Si true, skip Kimi reasoning et use llama-3.1-8b directement (3-4s response). Pour voix rapide.
      responses: { '200': { description: Kimi reply with reasoning_content } }

  /api/code/propose:
    post:
      operationId: codeProposePatch
      summary: Trinity demande a Jarvis (Qwen 14b local sur RTX 3060) un diagnostic ou un patch git pour des fichiers du repo. ZERO API externe, full self-hosted. Returns analysis or unified diff (NOT applied - apply via opsRun shell_safe in separate step).
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [job]
              properties:
                job:
                  type: string
                  description: Description du job en francais (ex: "ajoute un log de debug dans coinbase_executor.execute_signal" ou "trouve les TODO dans agents/scanner.py")
                target_files:
                  type: array
                  description: Chemins relatifs au repo S25-COMMAND-CENTER (max 5, pas de .. ni absolu, max 50KB par fichier). Ex&#58; ["agents/coinbase_executor.py"]
                  items: { type: string }
                  maxItems: 5
                mode:
                  type: string
                  enum: [diagnose, patch]
                  default: diagnose
                  description: diagnose=analyse en texte; patch=unified diff format applicable avec git apply (PAS auto-applique).
      responses: { '200': { description: Analysis or unified diff from Qwen 14b local } }


  /api/code/apply:
    post:
      operationId: codeApplyPatch
      summary: APPLY un patch (unified diff) au repo. Step 2 de la chaine self-host code. git apply --check + apply + git add + commit + (optional) push + reload. Returns commit_sha. Audit trail dans memory/code_journal.jsonl.
      x-openai-isConsequential: false
      security: [ { S25Secret: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [patch]
              properties:
                patch:
                  type: string
                  description: Unified diff content (commence par "--- a/path" ou "--- /dev/null" pour nouveau fichier). Generated typiquement par codeProposePatch mode=patch.
                commit_msg:
                  type: string
                  description: Git commit message (format conventional commits prefere)
                  default: "auto: trinity-driven patch"
                propose_id:
                  type: string
                  description: ID du propose qui a genere ce patch (chain audit). Optionnel.
                auto_push:
                  type: boolean
                  default: false
                  description: Si true, git push origin apres commit (sync external git smajor)
                auto_reload:
                  type: boolean
                  default: false
                  description: Si true, systemctl --user reload-or-restart s25-cockpit apres commit (pickup code change)
      responses: { '200': { description: Apply result with commit_sha and affected_files } }
